{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block header %} <h1>Register</h1> {% endblock %}
{% block main %}
<form action="{{ url_for('post_register') }}" method="post">
    {# add CSRF Protection #}
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.first_name.label }}
        {{ form.first_name(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.last_name.label }}
        {{ form.last_name(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.username.label }}
        {{ form.username(class="form-control") }}        
    </div>
    <div class="mb-3">
        {{ form.password.label }}
        {{ form.password(class="form-control") }}        
    </div>
    <div class="mb-3">
        {{ form.confirm.label }}
        {{ form.confirm(class="form-control") }}        
    </div>
    <div class="mb-3">
        {# add submit button #}
        {{ form.submit(class="btn btn-primary") }}        
    </div>
</form>
<div>
    Already have an account? <a href="{{ url_for('get_login') }}">Log in</a>
</div>
{% endblock %}
